@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2c2c2c;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: #54b4a7;
    font-weight: 800;
    margin-bottom: 1em;
}
.form-box{
    background-color: #f3f3f3;
    height: max-content;
    text-align: center;
    top: 8%;
    padding: 2em;
    position: absolute;
}
label{
    display: block;
    font-weight: 600;
    margin-bottom: 0.5em;
    margin-left: 10%;
    text-align: left;
}
.input{
    border: 1px solid;
    border-color: #909090;
    border-radius: 0.3em;
    display: inline-block;
    margin-bottom: 2.5em;
    
    width: 80%;
    height: 3em;
    outline: none;
    padding: 0.6em;

    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.input:focus{
    border: 0.20em solid;
    border-color: #54b4a7;
}
.password{
    width: 100%;
    display: flex;
}
#passw{
    margin-left: 10%;
    width: calc(80% - 2.6em);
}
#passwImg{
    margin-bottom: -0.8em;
    border-radius: 0;
    height: 3.2em;
    width: 2.6em;
    opacity: 0.9;
}
.button{
    background-color: #54b4a7;
    border: none;
    border-radius: 0.3em;
    color: white;
    cursor: pointer;
   
    margin-top: 1em;
    margin-bottom: 1em;

    height: 3.4em;
    width: 40%;
    padding: 0.5em 0.5em; 
}

#link{
    text-decoration: none;
    margin-bottom: 0.5em;
}
#link:hover{
    color: #54b4a7;
}
@media screen and (min-width: 721px) {
    body{
        background-color: #ebebeb;
    }
    h1{
        font-size: 3em;
    }
    .input{
        font-size: 1.1em;
    }
    .button{
        font-size: 1rem;
    }
    label{
        font-size: 1rem;
    }
    a{
        font-size: 1rem;
    }
    .form-box{
        left: 28%;
        right: 28%;
        width: 44%;
        border-radius: 0.7em;
        box-shadow: 2px 2px 5px 2px #a0a0a0;
    }
  }
  
  @media screen and (max-width: 720px) {
    body{
        background-color: #f3f3f3;
    }
    h1{
        font-size: 2.2rem;
    }
    .input{
        font-size: 0.9rem;
    }
    .button{
        font-size: 0.8rem;
    }
    label{
        font-size: 0.75rem;
    }
    a{
        font-size: 0.75rem;
    }
    .form-box{
        width: 100%;
    }
  }